body{
    box-sizing: border-box;
    background-color: #fefefe;
    
}

.contenido{
    padding: 15px;
}

i{
   font-size: 20px;
   width: 30%;
}

.navbar {
    border-radius: 0px !important;
}

.boton-agregar{
    margin-bottom: 15px;
}

h2{
    text-align: center;
}

.form-container{
    box-shadow: 0px 0px 10px black;
    padding:20px 0;
    margin: 15px;
    background: rgba(255, 255, 255, 0);
   
}

.lore-form{
    box-shadow: 0 0 4px 2px grey !important;
    border: none;
    text-align: center !important;
}

th{
    margin: 1px !important;
    padding: 1px !important;
    text-align: center !important;
}
